.education {
    min-height: 100vh;

    padding: 80px;

    background-color: #f8f5fa;

    text-align: center;
}
/* Heading */
.education h2 {
    font-size: 40px;
    color: #25245a;
    margin-bottom: 10px;
}
.education h2 span {
    color: #9b5fc1;
}
.education-subtitle {
    color: #666;
    margin-bottom: 60px;
}

/* Timeline */
.education-timeline {
    position: relative;
    max-width: 900px;
    margin: auto;
}
/* Vertical Line */
.education-timeline::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 3px;
    height: 100%;
    background-color: #9b5fc1;
    transform: translateX(-50%);
}
/* Education Card */
.education-card {
    width: 50%;
    padding: 20px 30px;
    position: relative;
}
/* Left and Right Cards */
.education-card:nth-child(odd) {
    left: 0;
    text-align: right;
}
.education-card:nth-child(even) {
    left: 50%;
    text-align: left;
}
/* Year */
.education-year {
    display: inline-block;
    background-color: #9b5fc1;
    color: white;
    padding: 8px 18px;
    border-radius: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}
/* Content Box */
.education-content {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    border: 1px solid #e5d7eb;
    transition: 0.3s;
}
/* Card Hover */
.education-content:hover {
    transform: translateY(-5px);
    border-color: #9b5fc1;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}
/* Course Name */
.education-content h3 {
    color: #25245a;
    font-size: 20px;
    margin-bottom: 10px;
}
/* College */
.education-content h4 {
    color: #9b5fc1;
    font-size: 16px;
    margin-bottom: 12px;
}
/* Details */
.education-content p {
    color: #666;
    font-size: 14px;
    line-height: 1.6;
    margin: 5px 0;
}